<li class="list-group-item bg-secondary">
    <div class="row">
        <i class="fas fa-hamburger fa-2x ml-3"></i> <h4 class="ml-3">{{burger_name}}</h4><hr>
            <button class="{{#if devoured}}devour-burger change-devoured{{else}}devour-burger delete-burger{{/if}}" data-id="{{id}}">
            {{#if devoured}}Devour It!{{else}}Delete{{/if}}
        </button>
    </div>
</li>

