<li class="list-group-item bg-secondary">
    <div class="row">
        <i class="fas fa-hamburger fa-2x ml-3"></i> <h4 class="ml-3">{{burger_name}}</h4><hr>
            <button class="devour-burger delete-burger " data-id="{{id}}">
            Devour It!
        </button>
    </div>
</li>