body{
  background-image: url('../picture/burger.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
li {
  padding: 5px;
  margin: 5px;
  background: grey;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: grey;
}

.form-group {
  margin-bottom: 5px;
}
