body{
  text-align: center;
  background: #f2c844 !important
}
img{
  background: #f2c844 !important
 
}
.eaten {
  color: grey;
  background-color: lightgray !important;
  border-spacing: 10px !important;
}

li {
  padding: 5px;
  margin: 5px;
  background: grey;
}


.devour-burger{
  background:olivedrab;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 15px 25px 15px 25px;
  border-radius: 4px;
}
