body{
  text-align: center;
  background: #c06a30;
}
img{
  background: #c06a30;
}
li #newBurg{
  padding: 5px;
  margin: 5px;
  background: grey;
}

#submitBtn {
  background: navy;
  color:white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 25px 15px 25px;
  border-radius: 4px;
}

#devour-burger{
  background:olivedrab;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 15px 25px 15px 25px;
  border-radius: 4px;
}
